node_modules/
.env
*.log
.DS_Store
coverage/
dist/
build/
*.pid
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.idea/
server/logs/
server/.env
render-cli
web/app-release.apk
web/apk.zip
web/*.zip
nul
built-apk-temp/
datashare-built-apk.zip
